<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% include 'snippets/header.html' %}
</head>
<body>
    <style>
        .main{
            min-height: 100vh;
            height:100%;
        }
    </style>
    <div class="main">
        {% block content %}
        {% endblock %}
    
    </div>
    
    {% include 'snippets/base_css.html' %}
    {% include 'snippets/footer.html' %}
</body>
</html>